<h2 id="title">Testing out ember-simple-auth-oauth2 and pretender</h2>

<ul>
  {{#if session.isAuthenticated}}
    <li><a href="#" {{ action 'invalidateSession' }}>Logout</a></li>
  {{else}}
    <li>{{link-to 'Login' 'login'}}</li>
  {{/if}}
</ul>

{{outlet}}
